# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Julia
- SQL
- Scala

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seabborn
5. TensorFlow
6. Plotly
7. ggplot2
8. Zoo

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| VS Code (with Python extensions) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Thazmul Khan